# Fully resolved UVEX-ADV runtime environment, verified on CPython 3.11.13 / Windows x64.
# ASPIRED 0.5.1 -> RASCAL 0.3.10 requires NumPy < 1.24, so do not upgrade
# individual scientific packages in this environment without resolving and testing the whole set.

asciitree==0.3.3
asdf==2.15.2
asdf-astropy==0.3.0
asdf-coordinates-schemas==0.1.0
asdf-standard==1.0.3
asdf-transform-schemas==0.3.0
asdf-unit-schemas==0.2.0
asdf-wcs-schemas==0.1.1
aspired==0.5.1
astropy==5.3.4
astropy-healpix==0.7
astroscrappy==1.2.0
attrs==26.1.0
ccdproc==2.3.1
click==8.4.2
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
dask==2024.8.1
entrypoints==0.4
fasteners==0.20
fonttools==4.63.0
fsspec==2026.7.0
gwcs==0.18.3
imageio==2.37.4
importlib-metadata==9.0.0
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kaleido==0.2.1
kiwisolver==1.5.0
lazy-loader==0.5
locket==1.0.0
matplotlib==3.7.5
ndcube==2.1.3
networkx==3.6.1
numcodecs==0.11.0
numpy==1.23.5
packaging==26.3
pandas==2.0.3
partd==1.4.2
patsy==1.0.2
pillow==12.3.0
plotly==5.24.1
pyerfa==2.0.1.5
pynverse==0.1.4.6
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
pywavelets==1.8.0
pyyaml==6.0.3
rascal==0.3.10
referencing==0.37.0
reproject==0.12.0
rpds-py==2026.6.3
scikit-image==0.21.0
scipy==1.10.1
semantic-version==2.10.0
setuptools==75.8.2
six==1.17.0
specreduce==1.5.0
spectresc==1.1.0
specutils==1.11.0
statsmodels==0.14.1
tenacity==9.1.4
tifffile==2026.3.3
toolz==1.1.0
tqdm==4.70.0
typing-extensions==4.16.0
tzdata==2026.3
zarr==2.16.1
zipp==4.1.0
