root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csproj,props,sln,xaml,ps1,cmd}]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{json,yml,yaml,xaml,md}]
indent_style = space
indent_size = 2

[*.{py,toml}]
indent_style = space
indent_size = 4
